@model UserRegisteration.Models.User

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UserRegisteration</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Show Details</a>
                    </li>
                </ul>
                <form class="d-flex" asp-controller="User" asp-action="Login" method="get">
                    <button class="btn btn-outline-primary" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">User Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @if (Model != null)
        {
            <div>
                <p><strong>Name:</strong> @ViewBag.UserName</p>
                <p><strong>Email:</strong> @ViewBag.UserEmail</p>
                <p><strong>Date of Birth:</strong> @ViewBag.DateOfBirth</p>
                <p><strong>Gender:</strong> @ViewBag.Gender</p>
            </div>
            <div>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Edit" asp-route-id="@Model.UserId" >Edit User</a>
                <a asp-controller="Account" class="btn btn-secondary" asp-action="Delete" asp-route-id="@Model.UserId">Delete User</a>
            </div>
        }
        else
        {
            <p>No user data available.</p>
        }
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to Login/SignUp</h1>
    <p class="text-black">Please Check Navigation Bar for login and Signup</p>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/youtube.jpeg" class="d-block w-100 h-50" alt="">
            </div>
            <div class="carousel-item">
                <img src="~/images/facebook.png" class="d-block w-100 h-50" alt="">
            </div>
            <div class="carousel-item">
                <img src="~/images/instagram.jpeg" class="d-block w-100 h-50" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - UserRegisteration - <a asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
    </div>
</footer>
